{% extends "layout.html" %}


{% block title %}
results for {{ artist }}
{% endblock %}

{% block main %}
<div id="results_box">
    <div class="container">
        <div class="row" >
            {% if search | length == 0 %}
            <h6 class="intro_text">No results :(</h6>
            {% endif %}
            {% for result in search %}
            <div class="col-md-auto">
                {% if result['profile_path'] == None %}
                <img id="search_img"
                    src="https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-4-user-grey-d8fe957375e70239d6abdd549fd7568c89281b2179b5f4470e2e12895792dfa5.svg">
                {% else %}
                <img id="search_img"
                    src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2{{ result['profile_path'] }}">
                {% endif %}
                <form action="/options" method="get" id="form_results">
                    <button id="results_button" name="id" type="submit" value="{{ result['id'] }}">{{ result['name']
                        }}</button>
                </form>
                <div class="box">
                    <a href="https://www.themoviedb.org/person/{{ result['id'] | string }}" target="_blank">
                        <h4>Known for <strong>{{ result['known_for_department'] | lower }}</strong></h4>
                    </a>
                    <h6>
                        Related titles:

                        {% for movie in result['known_for'] %}
                        {% if loop.last %}
                        <br class="links"><a href="https://www.themoviedb.org/movie/{{ movie['id'] }}" target="_blank">{{ movie['title']
                            }}.</a>
                        {% else %}
                        <br><a href="https://www.themoviedb.org/movie/{{ movie['id'] }}" target="_blank">{{ movie['title'] }}</a>,
                        {% endif %}
                        {% endfor %}


                    </h6>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}